<!-- =======================ABOUT============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/about/about-desk.jpg" alt="">                ||
========================================================== -->
<section class="about">
  <div class="container">
    <ul class="about-list">
      <li class="about-iteam">
        <h2 class="about-title">01</h2>
        <p class="about-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li>
        <h2 class="about-title">02</h2>
        <p class="about-text">Fishing: try to catch your own dinner</p>
      </li>
      <li>
        <h2 class="about-title">03</h2>
        <p class="about-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li>
        <h2 class="about-title">04</h2>
        <p class="about-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ul>
    <div class="about-wrapper">
      <img
        class="about-image"
        src="/img/about/about-desk.jpg"
        alt="foto-desk "
        width="432"
        height="424"
      />
    </div>
  </div>
</section>
