<!-- =====================CATALOG============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/catalog/yaht-1.jpg" alt="">                  ||
========================================================== -->

<section id="catalog">
  <h2>Choose your dream yacht and sail away into the sunset</h2>
  <ul>
    <li>
      <img src="/img/catalog/yaht-1.jpg" alt="Yacht 1" width="345" />
      <ul>
        <li><h3>Arrow</h3></li>
        <li><p class="model">LUXURY YAHTS</p></li>
        <li><h4>LENGTH</h4></li>
        <li><p class="character">48m(155ft)</p></li>
        <li><h4>BUILDER</h4></li>
        <li><p class="character">Admiral</p></li>
        <li><h4>BUILT</h4></li>
        <li><p class="character">2021</p></li>
        <li><h4>GUESTS</h4></li>
        <li><p class="character">11 in 5 cabins</p></li>
        <li><h4>PRICE</h4></li>
        <li><p class="character">€33,500,000</p></li>
      </ul>
    </li>
    <li>
      <img src="/img/catalog/yaht-2.jpg" alt="Yacht 2" width="345" />
      <ul>
        <li><h3>BENETTI OASIS 40</h3></li>
        <li><p class="model">LUXURY YAHTS</p></li>
        <li><h4>LENGTH</h4></li>
        <li><p class="character">41m (133ft)</p></li>
        <li><h4>BUILDER</h4></li>
        <li><p class="character">Benetti</p></li>
        <li><h4>BUILT</h4></li>
        <li><p class="character">2025</p></li>
        <li><h4>GUESTS</h4></li>
        <li><p class="character">10 in 5 cabins</p></li>
        <li><h4>PRICE</h4></li>
        <li><p class="character">€23,210,000</p></li>
      </ul>
    </li>
    <li>
      <img src="/img/catalog/yaht-3.jpg" alt="Yacht 3" width="345" />
      <ul>
        <li><h3>BENETTI OASIS 40</h3></li>
        <li><p class="model">LUXURY YAHTS</p></li>
        <li><h4>LENGTH</h4></li>
        <li><p class="character">50m(155ft)</p></li>
        <li><h4>BUILDER</h4></li>
        <li><p class="character">ISA</p></li>
        <li><h4>BUILT</h4></li>
        <li><p class="character">2012</p></li>
        <li><h4>GUESTS</h4></li>
        <li><p class="character">12 in 6 cabins</p></li>
        <li><h4>PRICE</h4></li>
        <li><p class="character">€21,000,000</p></li>
      </ul>
    </li>
  </ul>
  <button type="button">Yacht rental</button>
</section>
