<!-- =======================FOOTER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->
<footer id="footer" class="footer-bg">
  <a class="logo" href="./index.html">yachtjet</a>
  <button class="btn-link">About</button>
  <button class="btn-link">Yachts</button>
  <button class="btn-link">Reviews</button>
</footer>
