<!-- =======================REVIEWS==========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/reviews/review-1.jpg" alt="">                ||
========================================================== -->
