/* Сюди додавай стилі частинки Catalog */
.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.model {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #989899;
}
.subject {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #989899;
}
.character {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}
.list {
  background: #fbfbfb;
}
.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
}
.btn:hover,
.btn:focus {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1b414b;
  background-color: #fbfbfb;
}
